@{
    ViewData["Title"] = "Escolha de Login";
}

<link href="~/css/EscolhaLogin.css" rel="stylesheet" />

<div class="container mt-5 text-center">
    <h2>Como você deseja entrar?</h2>
    <p class="text-muted mb-4">Selecione uma das opções abaixo:</p>

    <div class="d-flex justify-content-center gap-4">

        <a class="btn btn-primary btn-lg px-4"
           asp-controller="LoginFunc"
           asp-action="LoginFunc">
            Entrar como Funcionário
        </a>

        <a class="btn btn-success btn-lg px-4"
           asp-controller="LoginCliente"
           asp-action="LoginCliente">
            Entrar como Cliente
        </a>

        <div class="mt-2">
        <a class="btn btn-outline-secondary"
           asp-controller="Home"
           asp-action="Index">
            Voltar
        </a>

    </div>
</div>