@{
    ViewData["Title"] = "Atualizar";
}

<link href="~/../../../../área de trabalho/projetofinal/projetofinal/wwwroot/css/atualizar.css" rel="stylesheet" />

<div class="container mt-5" style="max-width: 600px;">

    <fieldset class="border border-primary rounded p-4">
        <legend class="w-auto px-3">
            O que deseja atualizar?
        </legend>

        <div class="d-flex flex-column gap-3">

            <a class="btn btn-outline-primary"
               asp-controller="ConsultaFuncionario"
               asp-action="ConsultaFuncionario">
                Funcionário
            </a>

            <a class="btn btn-outline-primary"
               asp-controller="GerenciarCliente"
               asp-action="ConsultaCliente">
                Cliente
            </a>

            <a class="btn btn-outline-primary"
               asp-controller="EditarPet"
               asp-action="Consultar">
                Pet
            </a>

            <a class="btn btn-outline-primary"
               asp-controller="EditarPlano"
               asp-action="ConsultaPlano">
                Plano
            </a>

        </div>

        <div class="mt-4">
            <a class="btn btn-secondary w-100"
               asp-controller="Menu"
               asp-action="Menu">
                Voltar
            </a>
        </div>
    </fieldset>

</div>