@{
    ViewData["Title"] = "Cadastrar";
}

<link href="~/../../../../área de trabalho/projetofinal/projetofinal/wwwroot/css/cadastrar.css" rel="stylesheet" />

<div class="container mt-5" style="max-width: 600px;">

    <fieldset class="border border-primary rounded p-4">
        <legend class="w-auto px-3">
            O que deseja cadastrar?
        </legend>

        <div class="d-flex flex-column gap-3">

            <a class="btn btn-outline-primary"
               asp-controller="CadastroFunc3"
               asp-action="CadastroFunc3">
                Funcionário
            </a>

            <a class="btn btn-outline-primary"
               asp-controller="CadastroCliente"
               asp-action="CadastroCliente">
                Cliente
            </a>

            <a class="btn btn-outline-primary"
               asp-controller="CadastroPet"
               asp-action="CadastroPet">
                Pet
            </a>

            <a class="btn btn-outline-primary"
               asp-controller=""
               asp-action="">
                Plano
            </a>

        </div>

        <div class="mt-4">
            <a class="btn btn-secondary w-100"
               asp-controller="Menu"
               asp-action="Menu">
                Voltar
            </a>
        </div>

    </fieldset>

</div>