@{
    ViewData["Title"] = "Excluir";
}

<link href="~/../../../../área de trabalho/projetofinal/projetofinal/wwwroot/css/excluir.css" rel="stylesheet" />

<div class="container mt-5" style="max-width: 500px;">

    <fieldset class="border border-primary rounded p-4">
        <legend class="w-auto px-3">O que deseja excluir?</legend>

        <div class="d-flex flex-column gap-3">

            <a class="btn btn-outline-primary w-100"
               asp-controller=""
               asp-action="">
                Funcionário
            </a>

            <a class="btn btn-outline-primary w-100"
               asp-controller=""
               asp-action="">
                Cliente
            </a>

            <a class="btn btn-outline-primary w-100"
               asp-controller=""
               asp-action="">
                Pet
            </a>

            <a class="btn btn-outline-primary w-100"
               asp-controller=""
               asp-action="">
                Plano
            </a>

        </div>

        <a class="btn btn-secondary w-100 mt-3"
           asp-controller="Menu"
           asp-action="Menu">
            Voltar
        </a>
    </fieldset>

</div>