@{
    ViewData["Title"] = "Cadastro Concluído";
}

<link href="~/../../../../área de trabalho/projetofinal/projetofinal/wwwroot/css/avisocadastro.css" rel="stylesheet" />

<div class="container mt-5" style="max-width: 550px;">

    <div class="card shadow-sm p-4 text-center">

        <h3 class="mb-3">Cadastro Realizado!</h3>

        <p class="mb-3">
            O cliente foi cadastrado com sucesso.
        </p>

        <p class="text-muted mb-4">
            A senha inicial do cliente será o próprio
            <strong>CPF cadastrado</strong>.<br />
            Mantenha essa informação em segurança.
        </p>

        <a class="btn btn-primary btn-lg w-75 mb-3"
           asp-controller="Menu"
           asp-action="Menu">
            Voltar ao Menu
        </a>

    </div>

</div>