@{
    ViewData["Title"] = "Consulta";
}

<link href="~/../../../../área de trabalho/projetofinal/projetofinal/wwwroot/css/consultar.css" rel="stylesheet" />

<div class="container mt-5" style="max-width: 600px;">

    <fieldset class="border border-primary rounded p-4">
        <legend class="w-auto px-3">
            O que deseja consultar?
        </legend>

        <div class="d-flex flex-column gap-3">

            <a class="btn btn-outline-primary"
               asp-controller="Consulta"
               asp-action="Funcionario">
                Funcionário
            </a>

            <a class="btn btn-outline-primary"
               asp-controller=""
               asp-action="">
                Cliente
            </a>

            <a class="btn btn-outline-primary"
               asp-controller=""
               asp-action="">
                Pet
            </a>

            <a class="btn btn-outline-primary"
               asp-controller=""
               asp-action="">
                Plano
            </a>

            <a class="btn btn-outline-primary"
               asp-controller=""
               asp-action="">
                Histórico de Cadastros
            </a>

            <a class="btn btn-outline-primary"
               asp-controller=""
               asp-action="">
                Histórico de Pagamentos
            </a>

            <div class="mt-4">
                <a class="btn btn-secondary w-100"
                   asp-controller="Menu"
                   asp-action="Menu">
                    Voltar
                </a>
            </div>
        </div>
    </fieldset>

</div>