@{
    ViewData["Title"] = "Home Page";
}

<link href="~/../../../../área de trabalho/projetofinal/projetofinal/wwwroot/css/site.css" rel="stylesheet" />

<div class="container mt-5">

    <div class="text-center">

        <h1 class="display-4 mb-4">Bem-vindo a VitaPet!</h1>

        <p class="lead mb-4">
            Faça login para continuar.
        </p>

        <a class="btn btn-primary btn-lg px-4" 
           asp-controller="EscolhaLogin"
           asp-action="EscolhaLogin">
            Fazer Login
        </a>

    </div>

</div>