@{
    ViewData["Title"] = "Home Page";
}

<link href="~/../../../../área de trabalho/projetofinal/projetofinal/wwwroot/css/site.css" rel="stylesheet" />

<div class="container mt-5">

    <div class="text-center">

        <h1 class="display-4 mb-4">Bem-vindo a VitaPet!</h1>

        <p class="lead mb-4">
            Selecione uma opção abaixo para continuar.
        </p>

        <a class="btn btn-primary btn-lg px-4" 
           asp-controller="LoginFunc"
           asp-action="LoginFunc">
            Fazer Login
        </a>

        <a class="btn btn-success btn-lg px-4"
           asp-controller="LoginCliente"
           asp-action="LoginCliente">
            Consultar Info do Cliente
        </a>
    </div>

</div>